/* width */
::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(170, 5, 5);
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
