* {
  font-family: "Courier New", monospace;
}
.fixed-bg {
  background-image: url("../images/long-rd.png");
  height: 900px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fixed-bg1 {
  background-image: url("../images/brick-rob.png");
  height: 800px;
  margin-top: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fixed-bg2 {
  background-image: url("../images/lamp.png");
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.testing {
  width: 100%;
  height: 300px;
  background-color: rgb(233, 233, 233);
  position: absolute;
}
.testing2 {
  width: 100%;
  height: 300px;
  background-color: rgb(233, 233, 233);
  position: absolute;
}
.jumbotron {
  position: absolute;
  width: 100%;
  height: 250px;
  border-radius: 0px;
  text-align: center;
}

.full-body {
  background-image: url("../images/image0.png");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 35%;
  position: absolute;
  z-index: 100;
  margin-top: -590px;
  margin-left: 55%;
  box-shadow: 2px 2px 18px #000000;
  border-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.full-body-2 {
  background-image: url("../images/code.png");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 35%;
  position: absolute;
  z-index: 100;
  margin-top: -200px;
  margin-left: 5%;
  box-shadow: 2px 2px 18px #000000;
  border-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.right-area {
  position: absolute;
  width: 45%;
  margin-left: 45%;
  height: 200px;
  margin-top: 50px;
}
.right-area h1 {
  text-align: center;
  padding: 20px;
}
.right-area div {
  text-align: center;
  font-size: 20px;
}

.left-area h1 {
  text-align: center;
  padding: 20px;
}
.left-area div {
  text-align: center;
  font-size: 20px;
}

.left-area {
  position: absolute;
  width: 45%;
  margin-left: 5%;
  height: 200px;
  margin-top: 50px;
}
/*    ---------------------------------------     */
ul {
  z-index: 1000;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
  width: 25%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  text-decoration: none;
}

.active {
  background-color: #8b0000;
}

/* --------------------------------------------------- */

@media only screen and (max-width: 1200px) {
  .jumbotron {
    height: 350px;
  }

  .fixed-bg {
    height: 1000px;
  }
  .fixed-bg1 {
    height: 600px;
    margin-top: 100px;
  }
  .fixed-bg2 {
    height: 800px;
  }
  .full-body {
    height: 700px;
    width: 50%;
    margin-top: -600px;
    margin-left: 45%;
  }
  .full-body-2 {
    height: 450px;
    width: 50%;
    margin-top: 275px;
    margin-left: 5%;
  }

  .right-area {
    position: absolute;
    width: 90%;
    margin-left: 5%;
    height: 200px;
    margin-top: 50px;
  }
  .right-area h1 {
    text-align: center;
    padding: 20px;
  }
  .right-area div {
    text-align: center;
    font-size: 20px;
  }

  .left-area h1 {
    text-align: center;
    padding: 20px;
  }
  .left-area div {
    text-align: center;
    font-size: 20px;
  }

  .left-area {
    position: absolute;
    width: 90%;
    margin-left: 5%;
    height: 200px;
    margin-top: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .jumbotron {
    height: 300px;
  }

  .fixed-bg {
    height: 1000px;
  }
  .fixed-bg1 {
    height: 600px;
    margin-top: 100px;
  }
  .fixed-bg2 {
    height: 800px;
  }
  .full-body {
    height: 700px;
    width: 90%;
    margin-top: -600px;
    margin-left: 5%;
  }
  .full-body-2 {
    height: 450px;
    width: 90%;
    margin-top: 275px;
    margin-left: 5%;
  }

  .right-area {
    position: absolute;
    width: 90%;
    margin-left: 5%;
    height: 200px;
    margin-top: 50px;
  }
  .right-area h1 {
    text-align: center;
    padding: 20px;
  }
  .right-area div {
    text-align: center;
    font-size: 20px;
  }

  .left-area h1 {
    text-align: center;
    padding: 20px;
  }
  .left-area div {
    text-align: center;
    font-size: 20px;
  }

  .left-area {
    position: absolute;
    width: 90%;
    margin-left: 5%;
    height: 200px;
    margin-top: 100px;
  }
}
